<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <title>搜索</title>
</head>
<body>
    <form action="@Url.Action("SubmitSearch")" method="post">
        <input type="text" name="word" />
        <select name="siteName">
            <option value="Baidu">百度</option>
            <option value="Sogou">搜狗</option>
            <option value="360">360</option>
        </select>
        <input type="submit" value="搜索" />
    </form>
</body>
</html>