<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="connstr1" connectionString="Data Source=.;Initial Catalog=DemoDB;User ID=sa;Password=123456" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="Smtp:Server" value="smtp.test.com" />
    <add key="Smtp.Port" value="25" />
    <add key="RedisServer" value="127.0.0.1" />
    <add key="RedisPassword" value="abc123" />
  </appSettings>
</configuration>