<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <title>登录</title>
</head>
<body>
    <form action="@Url.Action("Login")" method="post">
        <label for="userName">用户名:</label>
        <input type="text" name="userName" id="userName" />
        <label for="password">密码:</label>
        <input type="password" name="password" id="password" />
        <input type="submit" value="登录"/>
    </form>
</body>
</html>