<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true">
  <targets>
    <target xsi:type="File" name="defaultFile" fileName="logs/log-${shortdate}.log" 
            layout="${date}|${level:uppercase=true}|${logger}|${message}|${exception:format=ToString}" />
    <target xsi:type="File" name="sysServicesFile"  archiveAboveSize="1000000" maxArchiveFiles="3" 
            fileName="logs/sysServices-${shortdate}.log"
            layout="${date}|${level:uppercase=true}|${logger}|${message}|${exception:format=ToString}" />
    <target xsi:type="ColoredConsole" name="targetConsole"
            layout="${date}|${level:uppercase=true}|${logger}|${message}|${exception:format=ToString}" />
  </targets>
  <rules>
    <logger name="*" minlevel="Warn" maxlevel="Fatal" writeTo="targetConsole" />
    <logger name="SystemServices.*" minlevel="Trace" writeTo="sysServicesFile" final="true" />
    <logger name="*" minlevel="Trace" writeTo="defaultFile" />
  </rules>
</nlog>